{% extends "layout.html" %}

{% block title %}
    Teachers
{% endblock %}

{% block main %}
  <div class="container py-3">
    <section class="py-3 text-center container border-bottom">
      <div class="row py-lg-3">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Meet Our Teacher's</h1>
          <p class="lead text-body-secondary">Our Teacher's and Staff at SMPN 3 Kalikajar.</p>
        </div>
      </div>
    </section>

    <div class="album py-5">
      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/foto_profil.png" class="bd-placeholder-img card-img-top" width="100%">
              <div class="card-body">
                <p class="card-text">Ahmad Munif, S.Kom</p>
                <p class="card-text">Informatika</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/foto_profil.png" class="bd-placeholder-img card-img-top" width="100%">
              <div class="card-body">
                <p class="card-text">Ahmad Munif, S.Kom</p>
                <p class="card-text">Informatika</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/foto_profil.png" class="bd-placeholder-img card-img-top" width="100%">
              <div class="card-body">
                <p class="card-text">Ahmad Munif, S.Kom</p>
                <p class="card-text">Informatika</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/foto_profil.png" class="bd-placeholder-img card-img-top" width="100%">
              <div class="card-body">
                <p class="card-text">Ahmad Munif, S.Kom</p>
                <p class="card-text">Informatika</p>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>

  </div>
{% endblock %}
